/* .nt{

    justify-content: right;
    font-size: 25px;
   text-indent: 100px;
 
 
 
}
.texts{
    font-weight: bold;
    font-size: 30px;
}
.img{
    background-image: url('https://wallpapers.com/images/hd/blurry-yellow-hd-lights-hffel0bo3udue7h3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */